* { margin: 0; padding: 0; 
}
html { 
	font-family: Arial, Helvetica, sans-serif; 
}

.container { margin: 0 auto; width: 68.5%; /* +/- 960 */ }

h1 { font-size: 2em; /* 32 / 16 */ }


.content { margin: 1.5625% 0; /* 15 / 960 */ }

.content-main { float: left; width: 61.7708%; /* 593 (.content-main) / 960 (.container) */ }

.hero { margin: 4.2158% 0; /* 25 / 593 */ }

.brief { margin: 1% 0; /* 5 / 593 */ /* = 0.8431%, que, opcionalmente, pode ser arredondado para 1% */ }

.last-contents { font-size: .75em; /* 12 / 16 */ }
.last-content-call { float: left; margin: 2.5295% 2.5295% 2.5295% 0; /* 15 / 593 (.content-main) */ width: 47.2175%; /* 280 / 593 */ }
.last-content-call .brief { margin: 1.7857% 0; /* 5 / 280 */ }

.last-content-call .secondary-title { margin-bottom: 0; 
}

.content-sidebar { background-color: #F0F0F0; float: right; padding: 1.0416%; /* 10 / 960 */ width: 33.5416%; /* 322 / 960 */ }
.main-nav ul { list-style-type: none; }
.main-nav li { background-color: #F9F9F9; float: left; margin: 4.6583%; /* 15 / 322 (.content-sidebar) */ outline: 1px solid #DEDEDE; text-align: center; width: 40.3726%; /* 130 / 322 */ }
.main-nav a { display: block; padding: 7.6923%; /* 10 / 130 */ text-decoration: none; }

.main-footer { background-color: #F0F0F0; float:left; font-size: .75em; /* 12 / 16 */ margin: 1.5625% 0; /* 15 / 960 */ padding: 1.5625%; /* 15 / 960 */ text-align: center; width: 100%; }